<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Now</title>
    <link href="../static/css/output.css" rel="stylesheet">
    {% include "header_link.html" %}

</head>
<body>
{% include  "navbar.html" %}
<div class="container">
    <div class="row" style="min-width: 1200px; display: flex; justify-content: space-evenly;  margin: 20px 0;">
        <div class="col-md-5 col-sm-12 mt-4" style="min-width: 600px">
            <div class="card-header">
                <h5>Product Information</h5>
            </div>
            <div class="card-body" style="width: 100%">
                <div class="table-responsive" style="width: 100%">

                    <table class="table table-borderless table-striped">
                        <thead>
                        <tr style="background-color: #9ca3af">
                            <th>No.</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>{{ product['title'] }}</td>
                            <td>{{ product['price'] }}</td>
                            <td>1</td>
                            <td>{{ product['title'] }} * 1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-5 col-sm-12 mt-4" style="min-width: 300px">

            <div class="card-header">
                <h5>Customer Information</h5>
            </div>
            <div class="card-body" style="background-color: #ffffff">
                <form action="/confirmBooking"
                      method="POST"
                      class=""
                      enctype="multipart/form-data">
                    <input type="hidden" name="product_id" value="{{ product['id'] }}">
                    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                        <div class="sm:col-span-2">
                            <label
                                    for="name"
                                    class="block text-sm font-semibold leading-6 text-gray-900">Name</label>
                            <div class="mt-2.5" style="">
                                <input type="text"
                                       id="name"
                                       name="name"
                                       required

                                       class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="text"
                                   class="block text-sm font-semibold leading-6 text-gray-900">Phone Number</label>
                            <div class="mt-2.5">
                                <input type="text"
                                       name="phone"
                                       required
                                       id="phone"
                                       class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="email"
                                   class="block text-sm font-semibold leading-6 text-gray-900">Email</label>
                            <div class="mt-2.5">
                                <input type="email"
                                       name="email"
                                       required
                                       id="email" autocomplete="email"
                                       class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                >
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="address"
                                   class="block text-sm font-semibold leading-6 text-gray-900">Address</label>
                            <div class="mt-2.5">
          <textarea name="address"
                    id="address"
                    required
                    rows="4"
                    class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="mt-10" style="display:flex; justify-content: space-evenly">
                        <button type="reset"
                                class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                                style="background-color: #f14949; max-width: 25%">
                            Cancel
                        </button>
                        <button type="submit"
                                class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                                style="max-width: 25%">
                            Checkout
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

</body>
{% include "footer_script.html" %} }
</html>