<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
 	<div class="row">
		<div class="col-lg-6 offset-lg-3 col-12">
           <div class="box">
                <img class="profile" src="static/pic.jpg" alt=""/>

				<div class="box-title">John Doe</div>

				<div class="box-text">
					<span>Front End Developer</span>
				</div>

                <div class="icons">
					<a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-tumblr"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
			</div>
		</div>
	</div>
</div>
</body>
</html>